
.form-card1 {
	margin-top: 120px;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #28262B;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.form-card2 {
  width: 100%;
  background-color: #D5CCC7;
  border-radius: 15px;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-heading {
  text-align: center;
  margin-bottom: 1em;
  color: #28262B;
  font-size: 1.5em;
  font-weight: bold;
}

.form-field {
  display: flex;
  align-items: center;
  background-color: #A9A29C;
  border-radius: 10px;
  padding: 10px;
  
}

.input-field {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #333333;
  padding: 8px;
}

.sendMessage-btn {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #D5CCC7;
  background-color: #28262B;
  border: 2px solid #D5CCC7;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sendMessage-btn:hover {
  background-color: #D5CCC7;
 color: #28262B;
}